---
layout: page
title: Publications
---

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<script>
	function drop(v)
	{
		$('#'+v).slideToggle();
	}
</script>

<section class="list">
    {% for category in site.categories %}
        {% if category[0] == "publications" %}
            {% for paper in category[1] %}
                <div class="container item {% if paper.star %}star{% endif %}">
					<div class="title">{{ paper.title }}</div>
					<div class="conference-date">
						{{ paper.conference }}, {{ paper.date | date: "%B %Y" }}
						<div class="paper-authors">{% for author in paper.authors %} {% if author.url != nil %} <a href="{{ author.url }}">{{ author.name }}</a>{% else %} {{ author.name }}{% endif %}{% if author != paper.authors.last %}, {% endif %} {% endfor %}</div>
					</div>
					{% if paper.paperlink %}<a href="{{ paper.paperlink }}" class="paper-details"><i class="fas fa-link"></i> Link</a>&nbsp;&nbsp;{% endif %}
					{% if paper.abstract %}<span onclick="drop('{{ paper.paperid }}')" class="paper-details"><i class="fas fa-align-justify"></i> Abstract</span>{% endif %}
					<div id="{{ paper.paperid }}" class="paper-abstract">
						<br>
						<div class="abstract">{{ paper.abstract }}</div>
					</div>
				</div>
				{% if paper!=category[1].last %}
					<hr />
				{% endif %}
            {% endfor %}
        {% endif %}
    {% endfor %}
</section>