@-webkit-keyframes fadeIn {
from { opacity: 0; }
  to { opacity: 1; }
}
@keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}
@-webkit-keyframes fadeOut {
from { opacity: 1; }
  to { opacity: 0; }
}
@keyframes fadeOut {
    from { opacity: 1; }
      to { opacity: 0; }
}

@-webkit-keyframes fadeInn {
from { opacity: 0; }
  to { opacity: 0.6; }
}
@keyframes fadeInn {
    from { opacity: 0; }
      to { opacity: 0.6; }
}
@-webkit-keyframes fadeInName {
from { opacity: 0; }
  to { opacity: 0.8; }
}
@keyframes fadeInName {
    from { opacity: 0; }
      to { opacity: 0.8; }
}
@-webkit-keyframes fadeOutName {
from { opacity: 0.8; }
  to { opacity: 0; }
}
@keyframes fadeOutName {
    from { opacity: 0.8; }
      to { opacity: 0; }
}

body{
  color: #ffffff;
  animation: fadeIn 1s ease;
  background-image: url("images/background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  font-family: helvetica !important;
  color: darkgrey;
}

.navigation{
  overflow: hidden;
  top: -13px;
  width: 100%;
  z-index: 100;
  color: white;
  position:fixed;
}


.col-md-0.75{
  width: 75%;
}

.menuItem {
  cursor: pointer;
  float: left;
  font-family: 'Open Sans Condensed', sans-serif;
  color: white;
  text-align: center;
  padding: 0px 18px;
  text-decoration: none;
  font-size: 22px;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.menuItem:hover, .menuItem:focus, .menuItem:active {
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
}

.container1 {
  margin-top: 57px;
  position: relative;
  color: #666666;
}

.name {
  opacity: 0.8;
  color: black;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 43px;
  text-align: center;
  transition: .5s ease;
  line-height: 160px;
  height: 160px;
  background: rgba(255, 255, 255, 0.3);
}

.address{
  background: rgba(255, 255, 255, 0.3);
  font-size: 21px;
  color: black;
  font-family: 'Josefin Slab', serif;
  text-align: center;
  padding-top: 5px;
  font-style: italic;
  transition: .5s ease;
  opacity: 0.9;
  height: 160px;
  display: none;
}



h2{
  color: white;
  font-size: 20px;
  opacity: 0.9;
  text-align: center;
  font-style: normal;
  font-weight: lighter;
  font-family: 'Antic', sans-serif;
}

hr{
  width: 20%;
}



#projects, #skills, #resume, #contact, #about{
  display: none;
}

#clearDropZone{
  float:right;
}

.imgText{
  padding-top: 10px;
  font-size: 20px;
  font-family: 'Comfortaa', cursive;
  opacity: 0.6;
  color: #ffffff;
}

.titleText{
  padding-top: 15px;
  font-size: 35px;
  opacity: 0.7;
  color: #ffffff;
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
}

#dropZone{
  width: auto;
  height: 350px;
  padding: 10px;
  border-radius: 5px;
  background-color: rgba(255,255,255,0.1);
}

#dropZoneText{
  text-align: center;
  font-size: 40px;
  font-family: 'Courgette', cursive;
  padding-top: 100px;
  opacity: 0.6;
  color: #ffffff;
  animation: fadeInn 1s ease;

}

#dropZoneText2{
  font-size: 25px;
  opacity: 0.6;
  color: #ffffff;
  animation: fadeInn 1s ease;
}

#codeText, #webText, #toolsText{
  font-family: 'Source Code Pro', monospace;
  font-size: 25px;
  color: white;
  opacity: 0.6;
  display: none;
  padding-top: 50px;
}

#skills, #projects, #resume, #contact, #about{
  animation: fadeIn 1s ease;
}

#skills{
  background-color: rgba(255,255,255,0.1);
  height: 350px;
}

#projects{
  background-color: rgba(255,255,255,0.1);
  height: 625px;
}

#resume{
  background-color: rgba(255,255,255,0.1);
  height: 275px;
}

#contact{
  background-color: rgba(255,255,255,0.1);
  height: 325px;
}

#about{
  background-color: rgba(255,255,255,0.1);
  height: 750px;
}

#chess, #drawing, #guitar, #music, #college, #school{
  cursor: pointer;
}

.aboutText{
  font-size: 22px;
  font-variant: small-caps;
  text-decoration: underline;
  color: #ffffff;
  opacity: 0.6;
  font-family: 'Comfortaa', cursive;
  text-align: center;
}

.dropdown{
  padding-top: 10px;
  position: relative;
  display: inline-block;
  width: 350px;
}

.dropdown-content{
  display:none;
  padding-top: 15px;
  position: relative;
  font-size: 20px;
  font-family: 'Coming Soon', cursive;
  color: #ffffff;
  opacity: 0.6;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.0);
  z-index: 1;
  text-align: center;
}

.dropdown:hover .dropdown-content{
  display: block;
}

.projectName{
  text-align: center;
  font-size: 22pt;
  text-decoration: underline;
  font-family: 'Scope One', serif;

}

.projectDuration{
  font-family: 'Contrail One', cursive;
  font-style: italic;
  text-align: center;
  font-size: 15pt;
}

.projectContent{
  text-align: center;
}

.project{
  color: white;
  font-family: 'Slabo 27px', serif;
  font-size: 16pt;
  opacity: 0.6;

}
