<div class="fullpage">
    {% if page.title == "Home"
    or page.title == "Blog"
    or page.title == "Tags"
    %}{% assign showHeader = true %}{% endif %}

    {% if showHeader == true %}
        <header class="header-home {% if site.animation %}animated{% endif %}">
            {% if site.about %}
                <a class="link" href="{{ site.url }}/about">
                    <img class="selfie" alt="{{ site.name }}" src="{% if site.external-image %}{{ site.picture }}{% else %}{{ site.url }}/{{ site.picture }}{% endif %}" />
                </a>
            {% else %}
                <span class="link">
                    <img class="selfie" alt="{{ site.name }}" src="{% if site.external-image %}{{ site.picture }}{% else %}{{ site.url }}/{{ site.picture }}{% endif %}" />
                </span>
            {% endif %}

            <h1 class="title">{{ site.name }}</h1>
            <h2 class="description">{{ site.bio }}</h2>

            <!-- include social-links.html here if I want it here instead of the footer -->
        </header>
    {% endif %}

    <script src="../assets/js/zepto.min.js" type="text/javascript"></script>

    <script>
        $('.item').click(function () {
            $('.item').parent().parent().addClass('slideOutLeft');
        })
    </script>

    <nav class="{% if page.title == "Home" %}nav-home{% else %}nav{% endif %}">
        <ul class="list">
            {% if page.title != "Home" %}
            <li class="item">
                <a class="link" href="{{ site.url }}/">Home</a>
            </li>
            {% endif %}

            {% if site.blog == true %}
            {% if page.title != "Blog" %}
            <li class="item">
                <a class="link" href="{{ site.url }}/blog">Blog</a>
            </li>
            {% endif %}
            {% endif %}

            {% if site.about == true %}
            {% if page.title != "About" %}
            <li class="item">
                <a class="link" href="{{ site.url }}/about">About</a>
            </li>
            {% endif %}
            {% endif %}

            {% if site.projects == true %}
            {% if page.title != "Projects" %}
            <li class="item">
                <a class="link" href="{{ site.url }}/projects">Projects</a>
            </li>
            {% endif %}
            {% endif %}

            {% if site.publications == true %}
            {% if page.title != "Publications" %}
            <li class="item">
                <a class="link" href="{{ site.url }}/publications">Publications</a>
            </li>
            {% endif %}
            {% endif %}

            {% if site.experience == true %}
            {% if page.title != "Experience" %}
            <li class="item">
                <a class="link" href="{{ site.url }}/experience">Experience</a>
            </li>
            {% endif %}
            {% endif %}

            {% if site.resume == true %}
            <li class="item">
                <a class="link"
                    href="{% if site.resume-external %}{{ site.resume-url }}{% else %}{{ site.url }}/{{ site.resume-url }}{% endif %}">Résumé</a>
            </li>
            {% endif %}
        </ul>
    </nav>
</div>